.sidebar{
    background-color: black;
    color: white;
    padding: 20px;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__top{
        &__title {
            margin-bottom: 40px;
            font-size: 24px;
            text-align: center;
        }
        &__lists{
            display: flex;
            flex-direction: column;
            gap: 10px;
            &__item{
                background-color: gray;
                // border-radius: 5px;
                font-size: 18px;
                display: flex;
                align-items: center;
                gap: 10px;
                transition: 0.3s;
                padding: 5px 10px;
                &__icon{
                    font-size: 32px;
                    gap: 30px;
                }
                &:hover{
                    background-color: white;
                    color: #000;
                    transition: 0.3s;
                }
                &__active{
                    background-color: white;
                    color: #000;
                    transition: 0.3s;
                }
            }
        }
    }
    &__bottom{
        &__button{
            width: 100%;
        }
    }
}